<mat-dialog-content>

  <app-form-task
    *ngIf="data.dialog.type === 'task'"
    [data]="data.dialog.task || null"
    [projects]="data.projects || []"
    (closeDialog)="onClose()"
    (newTask)="addTask($event)"
  >
  </app-form-task>

  <app-form-project
    *ngIf="data.dialog.type === 'project'"
    [data]="data.dialog.project || null"
    [projects]="data.projects || []"
    (closeDialog)="onClose()"
    (projectAction)="onProjectAction($event)"
  >
  </app-form-project>

</mat-dialog-content>
