<header class="header">
  <mat-toolbar color="primary">
    <span>Задачи</span>

    <span class="example-spacer"></span>

    <div *ngIf="authorized$ | async">
      <button mat-mini-fab [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onAddTask()">
          <mat-icon>task_alt</mat-icon>
          <span>Создать задачу</span>
        </button>

        <button mat-menu-item (click)="onAddProject()">
          <mat-icon>folder</mat-icon>
          <span>Создать проект</span>
        </button>

        <button mat-menu-item (click)="onLogout()">
          <mat-icon>logout</mat-icon>
          <span>Выйти</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>
