.list {
  margin-top: 1rem;
}

.title {
  padding-right: 2rem;
  padding-left: 1rem;
}

.quiet {
  color: #8d87b9
}

.relative {
  position: relative;
}

.toolbox {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
  transition: opacity .3s ease;
  //opacity: 0;
  //visibility: hidden;

  opacity: 1;
  visibility: visible;


}
