<div class="card">
  <h4 class="title">{{ actionType === 'create' ? 'Новый проект' : 'Проект' }}</h4>

  <pre>Values: {{ form.value | json }}</pre>
  <pre>Valid: {{ isValid() | json }}</pre>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="fields">
      <mat-form-field appearance="outline" color="accent" class="w-full">
        <mat-label>Название</mat-label>
        <input matInput formControlName="title">
        <mat-error *ngIf="hasError('title', 'required')">Поле обязательно к заполнению</mat-error>
      </mat-form-field>

      <mat-checkbox
        *ngIf="actionType !== 'create'"
        formControlName="deleteCheck"
        color="accent"
      >
        Удалить проект
      </mat-checkbox>

      <div class="form-error">{{ this.formError }}</div>
    </div>

    <div class="buttons">
      <button class="w50" mat-button type="button" (click)="onClose()">Закрыть</button>
      <button
        class="w50 text-white"
        type="submit" mat-flat-button color="accent"
        [disabled]="!isValid()"
      >
        {{ actionType === 'create' ? 'Создать' : 'ОК' }}
      </button>
    </div>
  </form>
</div>
