<div class="task">

  <div
    class="text"
    [ngClass]="{ 'task--completed': todo.isCompleted }"
    (click)="onUpdateTodo()"
    (touchstart)="isEditBtnVisible = true"
    (touchend)="isEditBtnVisible = false"
  >
    {{ todo.text }}
  </div>

  <mat-checkbox
    [checked]="todo.isCompleted"
    (change)="onCheck($event.checked)"
  ></mat-checkbox>

  <div
    class="edit-btn"
    [ngClass]="{ 'visible': isEditBtnVisible }"
  >
    <button
      mat-icon-button
      disableRipple
      color="accent"
      (click)="onUpdateTodo()"
    >
      <mat-icon>help_outline</mat-icon>
    </button>
  </div>
</div>
