<div class="card">
  <h4 class="title">Новая задача</h4>


  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="fields">
      <mat-form-field appearance="outline" color="accent" class="w-full">
        <mat-label>Задача</mat-label>
        <input matInput formControlName="text">
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent" class="w-full">
        <mat-label>Проект</mat-label>

        <mat-select formControlName="project_id">
          <mat-option *ngFor="let project of projects" [value]="project.value">
            {{ project.viewValue }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="errors.project">{{ errors.project }}</mat-error>
      </mat-form-field>
    </div>

    <div class="buttons">
      <button class="w50" mat-button (click)="onClose()">Закрыть</button>
      <button class="w50 text-white" type="submit" mat-flat-button color="accent">Создать</button>
    </div>
  </form>
</div>
