<div class="app bg-primary">

  <app-header
    (addTask)="openTodoDialog()"
    (addProject)="openProjectDialog()"
  ></app-header>

  <div class="main">
    <div *ngIf="authorized$ | async; else login" class="card-wrapper">
      <div *ngIf="(projects$ | async)?.length === 0" class="no-projects">
        Список проектов пуст
      </div>

      <app-card
        *ngFor="let project of projects$ | async; trackBy: projectTrackBy"
        class="card"
        [project]="project"
        (updateTodo)="openTodoDialog()"
        (addTask)="openTodoDialog()"
        (editProject)="openProjectDialog()"
      ></app-card>
    </div>

    <ng-template #login>
      <app-login></app-login>
    </ng-template>
  </div>

</div>
